html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: #6666ff;
    background: linear-gradient(#FFF, #DDD);
    /* background: linear-gradient(#6666ff, #2B3990); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  color: limegreen;
  text-decoration: underline;
}
/* CLASSES */
.nav-row {
  display:inline-block;
  margin: 10px 0px;
  padding: 0px 20px;
  width: 100%;
  height: 150px;
}
.nav-bubble {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #2B3990;
  font-size: 2em;
  font-weight: 700;

  box-shadow: 10px 10px 20px #333333;

}
.bubble {
  position: relative;
  float:left;
  background-color: white;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 2em;
  font-weight: 700;

  z-index: 1000;
}
.nav-icon {
  float: left;
  margin: 10px;
}

.bubble-cont {
  margin-top: 30px;
  line-height: 80px;
  text-align: left;
  padding-right: 20px;
  color: white;
  padding-left: 20px;
  display: none;

}
/* IDs */
#nav-side {
  position: fixed;
  top:50px;
  left:20px;
  height: 100%;
  width:300px;
}
#about {

}
#resume {

}
#portfolio{

}
#back{
  /*position: fixed;*/
  top: 20px;
  left: 20px;
  z-index: 1000;
}
#logo-nav {
  position: relative;
  margin-top: 200px;
  opacity: 0;
  width: 100%;
}
#logo{
  display: block;
  margin: auto;
  z-index: 1000;
}
#grid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
#header {
  position: fixed;
  top: 0px;
  color:white;
  font-weight: 300;
  font-size: 2em;
  padding: 20px;
  width: 100%;
  border-bottom: 1px white solid;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 10px;

}



#footer > span {
  position: absolute;

  font-weight: 300;
  font-size: 1.4em;
  color: white;
}

img#sig {
  float:right;
  margin-right: 30px;
  display: inline-block;
  height: 100%;
  opacity: 0.5;
}

svg#triangles{
  position: fixed;
  top: 7%;
  opacity: 0.3;
  z-index: -1;

}

/* FOR ABOUT */

img#portrait {
  position: fixed;
  height: 700px;
  bottom: -50px;
}
img#portrait-sil{
  position: fixed;
  height: 700px;
  bottom: -40px;
  left: 40px;
}

div.info {
  display: relative;
  padding: 30px;
  margin: 20px;
  float: right;

  background-color: #2B3990;
  opacity: 0.7;
  border-radius: 20px;
  box-shadow: 10px 10px 15px #333;

  font-weight: 300;
  color: white;
  text-align: right;
  font-size: 1.5em;
  line-height: 50px;
}

.info > h2 {
  display: relative;
  font-size: 2em;
  float: right;

}

/* FOR PORTFOLIO */

#gallery {
  float:right;
}

.por-img {
  position: relative;
  padding: 0px;
  margin:0px;
  background-color: #2B3990;
  width: 100%;
  transition: background-color 0.2s;

  text-align: center;

  cursor: pointer;
}
#por-display {
  position: relative;
  margin: 10px;
  width: 100%;
}
.holder {
  margin: 5px;
}

.por-tag {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  color: white;
  display: none;
}

#por-info{
    margin: 200px 0px 20px 0px;
    padding: 20px 40px 20px 40px;

    background-color: rgba(43,57,144,0.7);

    border-radius: 0px 20px 20px 0px;
}
#por-title{
    font-size: 3em;
    font-weight: 700;
    color:white;
}
#por-desc{
    color: white;
    font-size: 1.3em;
    line-height: 40px;
}
#col1 {
    margin-top: 20px;
}
#col2 {
    margin-top: 20px;
}
