html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: #6666ff;
    background: linear-gradient(#6666ff, #2B3990);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* CLASSES */

.nav-bubble {
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  background-color: #2B3990;
  font-size: 2em;
  font-weight: 700;

  box-shadow: 10px 10px 20px #333333;

}
.bubble {
  position: relative;
  float:left;
  background-color: white;

  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 2em;
  font-weight: 700;

  z-index: 1000;
}
.nav-icon {
  float: left;
  margin: 10px;
}
#portfolio > .bubble{
  float: right;
}
.bubble-cont {
  margin-top: 30px;
  line-height: 80px;
  text-align: left;
  padding-right: 20px;
  color: white;
  padding-left: 20px;
  display: none;

}
/* IDs */

#about {
    top: 2%;
    left: 50%;
}
#resume {
  top: 80%;
  left: 63%;
}
#portfolio{
  top: 80%;
  right: 63%;
}
#back{
  /*position: fixed;*/
  top: 20px;
  left: 20px;
  z-index: 1000;
}
#logo-nav {
  position: relative;
  margin-top: 200px;
  opacity: 0;
  width: 100%;
}
#logo-bars {
  display: block;
  margin: auto;
}
#main-container {
  height: 100%;
  width: 100%;
}

#header {
  position: fixed;
  top: 0px;
  color:white;
  font-weight: 300;
  font-size: 2em;
  padding: 20px;
  width: 100%;
  border-bottom: 1px white solid;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  padding: 10px;

}



#footer > span {
  position: absolute;

  font-weight: 300;
  font-size: 1.4em;
  color: white;
}

img#sig {
  float:right;
  margin-right: 30px;
  display: inline-block;
  height: 100%;
}

svg#triangles{
  position: fixed;
  top: 7%;
  opacity: 0.3;

}

/* FOR ABOUT */

img#portrait {
  position: fixed;
  height: 600px;
  bottom: -50px;
}
img#portrait-sil{
  position: fixed;
  height: 600px;
  bottom: -40px;
  left: 40px;
}

div.info {
  display: inline-block;
  padding: 30px;
  margin: 20px;
  float: right;

  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-shadow: 10px 10px 15px #333;

  font-weight: 300;
  color: white;
  text-align: right;
  font-size: 1.5em;
  line-height: 50px;
}

.info > h2 {
  display: inline-block;
  font-size: 2em;
  float: right;

}

/* FOR PORTFOLIO */

#gallery {
  float:right;
}

.por-img {
  position: relative;
  padding: 0px;
  margin:0px;
  background-color: #2B3990;
  width: 100%;
  transition: background-color 0.2s;

  text-align: center;
  
  cursor: pointer;
}
.holder {
  margin: 5px;
}

.por-tag {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  color: white;
  display: none;
}

#por-info{
    margin-top: 200px;
    padding: 20px 40px 20px 40px;
    
    background-color: rgba(0,0,0,0.35);
    border-radius: 20px;
}
#por-title{
    font-size: 4.5em;
    font-weight: 700;
    color:white;
}
#por-desc{
    color: white;
    font-size: 2em;
    line-height: 40px;
}
#col1 {
    margin-top: 20px;
}
#col2 {
    margin-top: 20px;
}